[Desktop Entry]
Encoding=UTF-8
Name=Link to Preview attachment favicon.icofavicon.ico1.1 KB
Type=Link
URL=https://mail.google.com/mail/u/0/?ui=2&ik=08730cd83a&view=att&th=14dd9e5fd6bde952&attid=0.1&disp=safe&realattid=f_iapr0mke0&zw
Icon=text-html
