<div class="container">
<div class="row">
    <div class="four columns">
 <%= render_original %>
    </div>
    <div class="two columns">
   <br>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><!-- Orange001 -->
    <ins class="adsbygoogle"

         style="display:inline-block;width:320px;height:100px"
  
         data-ad-client="ca-pub-3692775854247664"
  
         data-ad-slot="6941465232"></ins>

    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
  </div>
</div>
