<br>
<div class="address">
     Google Ad here.
</div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><!-- Orange002 -->
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
